@media screen and (max-width: 1400px) {
    .profile-container {
        height: 83vh;           
        margin-bottom: 3rem;
    }

    .about-container {
       flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop__nav {
        display: none;
    }

    #mobile__nav {
        display: flex;
    }

    #experience, .experience-details-container {
        margin-top: 2rem;
    }

    .profile-container, .section__container {
        display: block;     
    }

    .arrow {
        display: none;
    }

    section, .section__container {
        min-height: fit-content !important;
    }

    section {
        padding-bottom: 5vh;
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-container, .certifications-container {
        margin-top: 0;
    }

    .about-experience-container {
        min-width: 80%;
    }

    .enhance-item:hover {
        transform: scale(1.05);
    }

    .certifications-container {
        width: 100%;
    }

    .certification-item-container {        
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 0
    }
}

@media screen and (max-width: 750px) { 
    .project-container {
        overflow: visible;
    } 
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }

    .profile-container {
        height: 60vh;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-container, 
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }
    .contact-info-upper-container {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }

    .contact-info-container p,
    .desktop__nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1rem;
    }

    .logo { 
        font-size: 1.5rem;
    }

    .desktop__nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .about-pic {
        transform: scale(1.3) translate(0, -5%);
        clip-path: inset(2.75rem 2rem 1.25rem 2rem round 1rem);
    }

    .section__text-p2 {
        font-size: 1.25rem;
    }

    .section__title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }   

    .certification-item-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0
    }

    .skills-container, .projects-container {
        display: flex !important;
        flex-direction: column !important;
    }    
}